src/xiaofang.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="xiaofang"
 targetNamespace="urn:xiaofang/xiaofang.wsdl"
 xmlns:tns="urn:xiaofang/xiaofang.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:xiaofang"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:xiaofang"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:xiaofang"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="RegisterStatus"><!-- ns__RegisterStatus -->

   <restriction base="xsd:string">
    <enumeration value="OffLine"/><!-- ns__RegisterStatus::OffLine -->
    <!-- = 0 -->
    <enumeration value="OnLine"/><!-- ns__RegisterStatus::OnLine -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <simpleType name="UserType"><!-- ns__UserType -->

   <restriction base="xsd:string">
    <enumeration value="Admin"/><!-- ns__UserType::Admin -->
    <!-- = 0 -->
    <enumeration value="Operator"/><!-- ns__UserType::Operator -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <simpleType name="EntityType"><!-- ns__EntityType -->

   <restriction base="xsd:string">
    <enumeration value="UNIT"/><!-- ns__EntityType::UNIT -->
    <!-- = 0 -->
    <enumeration value="ACCOUNT"/><!-- ns__EntityType::ACCOUNT -->
    <!-- = 1 -->
    <enumeration value="USER"/><!-- ns__EntityType::USER -->
    <!-- = 2 -->
    <enumeration value="GROUP"/><!-- ns__EntityType::GROUP -->
    <!-- = 3 -->
    <enumeration value="GATEWAY"/><!-- ns__EntityType::GATEWAY -->
    <!-- = 4 -->
    <enumeration value="ORGANIZATION"/><!-- ns__EntityType::ORGANIZATION -->
    <!-- = 5 -->
   </restriction>
  </simpleType>
  <simpleType name="ListModifyType"><!-- ns__ListModifyType -->

   <restriction base="xsd:string">
    <enumeration value="Increased"/><!-- ns__ListModifyType::Increased -->
    <!-- = 0 -->
    <enumeration value="Decrease"/><!-- ns__ListModifyType::Decrease -->
    <!-- = 1 -->
    <enumeration value="Replace"/><!-- ns__ListModifyType::Replace -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="AccountType"><!-- ns__AccountType -->

   <restriction base="xsd:string">
    <enumeration value="Dispatcher"/><!-- ns__AccountType::Dispatcher -->
    <!-- = 0 -->
    <enumeration value="Terminal"/><!-- ns__AccountType::Terminal -->
    <!-- = 1 -->
    <enumeration value="Record"/><!-- ns__AccountType::Record -->
    <!-- = 2 -->
    <enumeration value="MediaGateway"/><!-- ns__AccountType::MediaGateway -->
    <!-- = 3 -->
   </restriction>
  </simpleType>
  <simpleType name="AccountServiceStatus"><!-- ns__AccountServiceStatus -->

   <restriction base="xsd:string">
    <enumeration value="AccountStop"/><!-- ns__AccountServiceStatus::AccountStop -->
    <!-- = 0 -->
    <enumeration value="AccountActive"/><!-- ns__AccountServiceStatus::AccountActive -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <simpleType name="CallPrivilege"><!-- ns__CallPrivilege -->

   <restriction base="xsd:string">
    <enumeration value="CallForbid"/><!-- ns__CallPrivilege::CallForbid -->
    <!-- = 0 -->
    <enumeration value="CallFreedom"/><!-- ns__CallPrivilege::CallFreedom -->
    <!-- = 1 -->
    <enumeration value="CallPolicy"/><!-- ns__CallPrivilege::CallPolicy -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="TokenPrivilege"><!-- ns__TokenPrivilege -->

   <restriction base="xsd:string">
    <enumeration value="TokenForbid"/><!-- ns__TokenPrivilege::TokenForbid -->
    <!-- = 0 -->
    <enumeration value="TokenFreedom"/><!-- ns__TokenPrivilege::TokenFreedom -->
    <!-- = 1 -->
    <enumeration value="TokenPolicy"/><!-- ns__TokenPrivilege::TokenPolicy -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="GpsReportMode"><!-- ns__GpsReportMode -->

   <restriction base="xsd:string">
    <enumeration value="GpsManualPull"/><!-- ns__GpsReportMode::GpsManualPull -->
    <!-- = 0 -->
    <enumeration value="GpsManualPush"/><!-- ns__GpsReportMode::GpsManualPush -->
    <!-- = 1 -->
    <enumeration value="GpsAutoPush"/><!-- ns__GpsReportMode::GpsAutoPush -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="SessionStatus"><!-- ns__SessionStatus -->

   <restriction base="xsd:string">
    <enumeration value="IDLE"/><!-- ns__SessionStatus::IDLE -->
    <!-- = 0 -->
    <enumeration value="InGroup"/><!-- ns__SessionStatus::InGroup -->
    <!-- = 1 -->
    <enumeration value="Talking"/><!-- ns__SessionStatus::Talking -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="RecordType"><!-- ns__RecordType -->

   <restriction base="xsd:string">
    <enumeration value="DontRecord"/><!-- ns__RecordType::DontRecord -->
    <!-- = 0 -->
    <enumeration value="AutoRecord"/><!-- ns__RecordType::AutoRecord -->
    <!-- = 1 -->
    <enumeration value="ManualRecord"/><!-- ns__RecordType::ManualRecord -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="RecordStatus"><!-- ns__RecordStatus -->

   <restriction base="xsd:string">
    <enumeration value="RecordStop"/><!-- ns__RecordStatus::RecordStop -->
    <!-- = 0 -->
    <enumeration value="RecordStart"/><!-- ns__RecordStatus::RecordStart -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <simpleType name="AlertStatus"><!-- ns__AlertStatus -->

   <restriction base="xsd:string">
    <enumeration value="AlertActive"/><!-- ns__AlertStatus::AlertActive -->
    <!-- = 0 -->
    <enumeration value="AlertOver"/><!-- ns__AlertStatus::AlertOver -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <simpleType name="AlertLevel"><!-- ns__AlertLevel -->

   <restriction base="xsd:string">
    <enumeration value="Exigency"/><!-- ns__AlertLevel::Exigency -->
    <!-- = 0 -->
    <enumeration value="Importance"/><!-- ns__AlertLevel::Importance -->
    <!-- = 1 -->
    <enumeration value="Subordination"/><!-- ns__AlertLevel::Subordination -->
    <!-- = 2 -->
    <enumeration value="Ordinary"/><!-- ns__AlertLevel::Ordinary -->
    <!-- = 3 -->
   </restriction>
  </simpleType>
  <simpleType name="EntityNotifyType"><!-- ns__EntityNotifyType -->

   <restriction base="xsd:string">
    <enumeration value="Created"/><!-- ns__EntityNotifyType::Created -->
    <!-- = 0 -->
    <enumeration value="Modify"/><!-- ns__EntityNotifyType::Modify -->
    <!-- = 1 -->
    <enumeration value="Update"/><!-- ns__EntityNotifyType::Update -->
    <!-- = 2 -->
    <enumeration value="Deleted"/><!-- ns__EntityNotifyType::Deleted -->
    <!-- = 3 -->
   </restriction>
  </simpleType>
  <complexType name="Entity"><!-- ns__Entity -->

   <sequence>
     <element name="id" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Entity::id -->
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__Entity::name -->
     <element name="entity-type" type="ns:EntityType" minOccurs="1" maxOccurs="1"/><!-- ns__Entity::entity_type -->
     <element name="parentid" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Entity::parentid -->
   </sequence>
  </complexType>
  <complexType name="Address"><!-- ns__Address -->

   <sequence>
     <element name="ip" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__Address::ip -->
     <element name="port" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Address::port -->
   </sequence>
  </complexType>
  <complexType name="User"><!-- ns__User -->

   <sequence>
     <element name="base" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__User::base -->
     <element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__User::password -->
     <element name="user-type" type="ns:UserType" minOccurs="1" maxOccurs="1"/><!-- ns__User::user_type -->
     <element name="account" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__User::account -->
     <element name="status" type="ns:RegisterStatus" minOccurs="1" maxOccurs="1"/><!-- ns__User::status -->
     <element name="address" type="ns:Address" minOccurs="1" maxOccurs="1"/><!-- ns__User::address -->
   </sequence>
  </complexType>
  <complexType name="Account"><!-- ns__Account -->

   <sequence>
     <element name="base" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Account::base -->
     <element name="account-type" type="ns:AccountType" minOccurs="1" maxOccurs="1"/><!-- ns__Account::account_type -->
     <element name="number" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__Account::number -->
     <element name="short-number" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__Account::short_number -->
     <element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__Account::password -->
     <element name="service-status" type="ns:AccountServiceStatus" minOccurs="1" maxOccurs="1"/><!-- ns__Account::service_status -->
     <element name="priority" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Account::priority -->
     <element name="call-privilege" type="ns:CallPrivilege" minOccurs="1" maxOccurs="1"/><!-- ns__Account::call_privilege -->
     <element name="token-privilege" type="ns:TokenPrivilege" minOccurs="1" maxOccurs="1"/><!-- ns__Account::token_privilege -->
     <element name="gps-report-mode" type="ns:GpsReportMode" minOccurs="1" maxOccurs="1"/><!-- ns__Account::gps_report_mode -->
     <element name="ttl" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Account::ttl -->
     <element name="status" type="ns:RegisterStatus" minOccurs="1" maxOccurs="1"/><!-- ns__Account::status -->
     <element name="sip-status" type="ns:RegisterStatus" minOccurs="1" maxOccurs="1"/><!-- ns__Account::sip_status -->
     <element name="address" type="ns:Address" minOccurs="1" maxOccurs="1"/><!-- ns__Account::address -->
   </sequence>
  </complexType>
  <complexType name="Unit"><!-- ns__Unit -->

   <sequence>
     <element name="base" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Unit::base -->
     <element name="include-members" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__Unit::include_members -->
     <element name="members" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Unit::members -->
   </sequence>
  </complexType>
  <complexType name="Participant"><!-- ns__Participant -->

   <sequence>
     <element name="id" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::id -->
     <element name="group" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::group -->
     <element name="account" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::account -->
     <element name="priority" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::priority -->
     <element name="call-privilege" type="ns:CallPrivilege" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::call_privilege -->
     <element name="toke-privilege" type="ns:TokenPrivilege" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::toke_privilege -->
     <element name="status" type="ns:SessionStatus" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::status -->
     <element name="sync-added" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__Participant::sync_added -->
   </sequence>
  </complexType>
  <complexType name="Gateway"><!-- ns__Gateway -->

   <sequence>
     <element name="base" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::base -->
     <element name="address" type="ns:Address" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::address -->
     <element name="include-allocate-counts" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::include_allocate_counts -->
     <element name="allocate-counts" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::allocate_counts -->
     <element name="include-active-counts" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::include_active_counts -->
     <element name="active-counts" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::active_counts -->
     <element name="status" type="ns:RegisterStatus" minOccurs="1" maxOccurs="1"/><!-- ns__Gateway::status -->
   </sequence>
  </complexType>
  <complexType name="Organization"><!-- ns__Organization -->

   <sequence>
     <element name="base" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Organization::base -->
     <element name="include-members" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- ns__Organization::include_members -->
     <element name="members" type="ns:Entity" minOccurs="1" maxOccurs="1"/><!-- ns__Organization::members -->
   </sequence>
  </complexType>
  <complexType name="MediaMessage"><!-- ns__MediaMessage -->

   <sequence>
     <element name="id" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::id -->
     <element name="sender" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::sender -->
     <element name="text" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::text -->
     <element name="picture-uri" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::picture_uri -->
     <element name="audio-uri" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::audio_uri -->
     <element name="audio-length" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::audio_length -->
     <element name="video-uri" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::video_uri -->
     <element name="video-length" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::video_length -->
     <element name="timestamp" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__MediaMessage::timestamp -->
   </sequence>
  </complexType>
  <complexType name="HistoryAlert"><!-- ns__HistoryAlert -->

   <sequence>
     <element name="id" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::id -->
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::name -->
     <element name="describe" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::describe -->
     <element name="level" type="ns:AlertLevel" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::level -->
     <element name="alram-time" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::alram_time -->
     <element name="use-cars" type="uint32" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::use_cars -->
     <element name="create-time" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::create_time -->
     <element name="over-time" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__HistoryAlert::over_time -->
   </sequence>
  </complexType>
 </schema>

</types>

<message name="Dispatch-Login">
 <part name="username" type="xsd:string"/><!-- ns__Dispatch_Login::username -->
 <part name="password" type="xsd:string"/><!-- ns__Dispatch_Login::password -->
</message>

<message name="Login-Response">
 <part name="session-id" type="uint32"/><!-- ns__Dispatch_Login::session_id -->
 <part name="user" type="ns:User"/><!-- ns__Dispatch_Login::user -->
 <part name="ttl" type="uint32"/><!-- ns__Dispatch_Login::ttl -->
</message>

<message name="Dispatch-Logout">
 <part name="name" type="xsd:string"/><!-- ns__Dispatch_Logout::name -->
</message>

<message name="LogOutResponse">
</message>

<message name="Dispatch-Keepalive">
</message>

<message name="Dispatch-Keepalive-Request-Response">
</message>

<message name="Dispatch-Entity-Request">
 <part name="id" type="ns:Entity"/><!-- ns__Dispatch_Entity_Request::id -->
</message>

<message name="EntityData">
 <part name="id" type="ns:Entity"/><!-- ns__Dispatch_Entity_Request::id -->
 <part name="unit" type="ns:Unit"/><!-- ns__Dispatch_Entity_Request::unit -->
 <part name="accout" type="ns:Account"/><!-- ns__Dispatch_Entity_Request::accout -->
 <part name="user" type="ns:User"/><!-- ns__Dispatch_Entity_Request::user -->
 <part name="group" type="ns:Group"/><!-- ns__Dispatch_Entity_Request::group -->
 <part name="alert" type="ns:Alert"/><!-- ns__Dispatch_Entity_Request::alert -->
 <part name="gateway" type="ns:Gateway"/><!-- ns__Dispatch_Entity_Request::gateway -->
 <part name="organization" type="ns:Organization"/><!-- ns__Dispatch_Entity_Request::organization -->
</message>

<message name="Dispatch-Entity-Nofitication">
</message>

<message name="Entity-Nofitication-Response">
 <part name="notify-type" type="ns:EntityNotifyType"/><!-- ns__Dispatch_Entity_Nofitication::notify_type -->
 <part name="data" type="ns:EntityData"/><!-- ns__Dispatch_Entity_Nofitication::data -->
</message>

<message name="Dispatch-Entity-Status-Notification">
</message>

<message name="Entity-Status-Notification">
 <part name="id" type="ns:Entity"/><!-- ns__Dispatch_Entity_Status_Notification::id -->
 <part name="status" type="ns:RegisterStatus"/><!-- ns__Dispatch_Entity_Status_Notification::status -->
 <part name="sip-status" type="ns:RegisterStatus"/><!-- ns__Dispatch_Entity_Status_Notification::sip_status -->
</message>

<message name="Dispatch-Append-Group">
 <part name="group" type="ns:Group"/><!-- ns__Dispatch_Append_Group::group -->
</message>

<message name="Group">
 <part name="base" type="ns:Entity"/><!-- ns__Dispatch_Append_Group::base -->
 <part name="owner" type="ns:Entity"/><!-- ns__Dispatch_Append_Group::owner -->
 <part name="number" type="xsd:string"/><!-- ns__Dispatch_Append_Group::number -->
 <part name="short-number" type="xsd:string"/><!-- ns__Dispatch_Append_Group::short_number -->
 <part name="sealed" type="xsd:boolean"/><!-- ns__Dispatch_Append_Group::sealed -->
 <part name="include-participants" type="xsd:boolean"/><!-- ns__Dispatch_Append_Group::include_participants -->
 <part name="participants" type="ns:Participant"/><!-- ns__Dispatch_Append_Group::participants -->
 <part name="record-type" type="ns:RecordType"/><!-- ns__Dispatch_Append_Group::record_type -->
 <part name="recorder" type="ns:Participant"/><!-- ns__Dispatch_Append_Group::recorder -->
 <part name="record-status" type="ns:RecordStatus"/><!-- ns__Dispatch_Append_Group::record_status -->
</message>

<message name="Dispatch-Modify-Group">
 <part name="group" type="ns:Group"/><!-- ns__Dispatch_Modify_Group::group -->
</message>

<message name="Dispatch-Modify-Participants">
 <part name="request" type="ns:Modify-Participant"/><!-- ns__Dispatch_Modify_Participants::request -->
</message>

<message name="Dispatch-Delete-Group">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Delete_Group::group_id -->
</message>

<message name="Delete-Group-Response">
</message>

<message name="Dispatch-Dispatch-Participants-Notification">
</message>

<message name="Modify-Participant">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Dispatch_Participants_Notification::group_id -->
 <part name="modify-type" type="ns:ListModifyType"/><!-- ns__Dispatch_Dispatch_Participants_Notification::modify_type -->
 <part name="participants" type="ns:Participant"/><!-- ns__Dispatch_Dispatch_Participants_Notification::participants -->
</message>

<message name="Dispatch-Join-Group-Request-Nofitication">
</message>

<message name="Join-Group-Request-Nofitication">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Join_Group_Request_Nofitication::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Join_Group_Request_Nofitication::account_id -->
</message>

<message name="Dispatch-Participant-Status-Notification">
</message>

<message name="Participant-Status-Notification">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Participant_Status_Notification::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Participant_Status_Notification::account_id -->
 <part name="status" type="ns:SessionStatus"/><!-- ns__Dispatch_Participant_Status_Notification::status -->
</message>

<message name="Dispatch-Media-Message-Request">
 <part name="id" type="ns:Entity"/><!-- ns__Dispatch_Media_Message_Request::id -->
 <part name="from-message-id" type="uint32"/><!-- ns__Dispatch_Media_Message_Request::from_message_id -->
 <part name="from-time" type="xsd:string"/><!-- ns__Dispatch_Media_Message_Request::from_time -->
 <part name="max-message-count" type="uint32"/><!-- ns__Dispatch_Media_Message_Request::max_message_count -->
</message>

<message name="Media-Message">
 <part name="id" type="ns:Entity"/><!-- ns__Dispatch_Media_Message_Request::id -->
 <part name="messages" type="ns:MediaMessage"/><!-- ns__Dispatch_Media_Message_Request::messages -->
 <part name="leave-message-count" type="uint32"/><!-- ns__Dispatch_Media_Message_Request::leave_message_count -->
</message>

<message name="Dispatch-Media-Message-Notification">
</message>

<message name="Media-Message-Notification">
 <part name="id" type="uint32"/><!-- ns__Dispatch_Media_Message_Notification::id -->
 <part name="messages" type="ns:MediaMessage"/><!-- ns__Dispatch_Media_Message_Notification::messages -->
</message>

<message name="Dispatch-Participant-Connect-Request-Notification">
</message>

<message name="Participant-Connect-Request-Notification">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Participant_Connect_Request_Notification::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Participant_Connect_Request_Notification::account_id -->
</message>

<message name="Dispatch-Participant-Speak-Request-Notification">
</message>

<message name="Dispatch-Invite-Participant-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Invite_Participant_Request::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Invite_Participant_Request::account_id -->
</message>

<message name="Dispatch-Invite-Participant-Request-Response">
</message>

<message name="Dispatch-Drop-Participant-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Drop_Participant_Request::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Drop_Participant_Request::account_id -->
</message>

<message name="Dispatch-Drop-Participant-Request-Response">
</message>

<message name="Dispatch-Release-Participant-Token-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Release_Participant_Token_Request::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Release_Participant_Token_Request::account_id -->
</message>

<message name="Dispatch-Release-Participant-Token-Request-Response">
</message>

<message name="Dispatch-Appoint-Participant-Speak-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Appoint_Participant_Speak_Request::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Appoint_Participant_Speak_Request::account_id -->
</message>

<message name="Dispatch-Appoint-Participant-Speak-Request-Response">
</message>

<message name="Dispatch-Jion-Group-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Jion_Group_Request::group_id -->
</message>

<message name="Dispatch-Jion-Group-Request-Response">
</message>

<message name="Dispatch-Leave-Group-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Leave_Group_Request::group_id -->
</message>

<message name="Dispatch-Leave-Group-Request-Response">
</message>

<message name="Dispatch-Session-Status-Notification">
</message>

<message name="Session-Status-Notification">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Session_Status_Notification::group_id -->
 <part name="status" type="ns:SessionStatus"/><!-- ns__Dispatch_Session_Status_Notification::status -->
</message>

<message name="Dispatch-Send-Message-Request">
 <part name="id" type="uint32"/><!-- ns__Dispatch_Send_Message_Request::id -->
 <part name="message" type="ns:MediaMessage"/><!-- ns__Dispatch_Send_Message_Request::message -->
</message>

<message name="Dispatch-Send-Message-Request-Response">
</message>

<message name="Dispatch-Kick-Participant-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Kick_Participant_Request::group_id -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Kick_Participant_Request::account_id -->
</message>

<message name="Dispatch-Kick-Participant-Request-Response">
</message>

<message name="Dispatch-Start-Record-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Start_Record_Request::group_id -->
</message>

<message name="Dispatch-Start-Record-Request-Response">
</message>

<message name="Dispatch-Stop-Record-Request">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Stop_Record_Request::group_id -->
</message>

<message name="Dispatch-Stop-Record-Request-Response">
</message>

<message name="Dispatch-Record-Status-Notification">
</message>

<message name="Dispatch-Record-Status">
 <part name="group-id" type="ns:Entity"/><!-- ns__Dispatch_Record_Status_Notification::group_id -->
 <part name="recording" type="xsd:boolean"/><!-- ns__Dispatch_Record_Status_Notification::recording -->
</message>

<message name="Dispatch-Subscribe-Account-Location-Request">
 <part name="subscribing" type="xsd:boolean"/><!-- ns__Dispatch_Subscribe_Account_Location_Request::subscribing -->
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Subscribe_Account_Location_Request::account_id -->
 <part name="ttl" type="uint32"/><!-- ns__Dispatch_Subscribe_Account_Location_Request::ttl -->
</message>

<message name="Dispatch-Subscribe-Account-Location-Request-Response">
</message>

<message name="Dispatch-Account-Location-Notification">
</message>

<message name="Dispatch-Account-Location-Notification-Response">
 <part name="account-id" type="ns:Entity"/><!-- ns__Dispatch_Account_Location_Notification::account_id -->
 <part name="longitude" type="xsd:double"/><!-- ns__Dispatch_Account_Location_Notification::longitude -->
 <part name="latitude" type="xsd:double"/><!-- ns__Dispatch_Account_Location_Notification::latitude -->
 <part name="timestamp" type="xsd:string"/><!-- ns__Dispatch_Account_Location_Notification::timestamp -->
</message>

<message name="Dispatch-Append-Alert-Request">
 <part name="alert" type="ns:Alert"/><!-- ns__Dispatch_Append_Alert_Request::alert -->
 <part name="acount" type="ns:Account"/><!-- ns__Dispatch_Append_Alert_Request::acount -->
</message>

<message name="Alert">
 <part name="base" type="ns:Entity"/><!-- ns__Dispatch_Append_Alert_Request::base -->
 <part name="group" type="ns:Entity"/><!-- ns__Dispatch_Append_Alert_Request::group -->
 <part name="describe" type="xsd:string"/><!-- ns__Dispatch_Append_Alert_Request::describe -->
 <part name="level" type="ns:AlertLevel"/><!-- ns__Dispatch_Append_Alert_Request::level -->
 <part name="alram-time" type="xsd:string"/><!-- ns__Dispatch_Append_Alert_Request::alram_time -->
 <part name="use-cars" type="uint32"/><!-- ns__Dispatch_Append_Alert_Request::use_cars -->
 <part name="create-time" type="xsd:string"/><!-- ns__Dispatch_Append_Alert_Request::create_time -->
 <part name="status" type="ns:AlertStatus"/><!-- ns__Dispatch_Append_Alert_Request::status -->
</message>

<message name="Dispatch-Modify-Alert-Request">
 <part name="alert" type="ns:Alert"/><!-- ns__Dispatch_Modify_Alert_Request::alert -->
</message>

<message name="Dispatch-Modify-Alert-Request-Response">
</message>

<message name="Dispatch-Stop-Alert-Request">
 <part name="alert-id" type="ns:Entity"/><!-- ns__Dispatch_Stop_Alert_Request::alert_id -->
</message>

<message name="Dispatch-Stop-Alert-Request-Response">
</message>

<message name="Dispatch-Alert-Overed-Notification">
 <part name="alert-id" type="ns:Entity"/><!-- ns__Dispatch_Alert_Overed_Notification::alert_id -->
</message>

<message name="Dispatch-Alert-Overed-Notification-Response">
</message>

<message name="Dispatch-History-Alert-RequestRequest">
 <part name="name" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::name -->
 <part name="create-time-from" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::create_time_from -->
 <part name="create-time-to" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::create_time_to -->
 <part name="alram-time-from" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::alram_time_from -->
 <part name="alram-time-to" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::alram_time_to -->
 <part name="over-time-from" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::over_time_from -->
 <part name="over-time-to" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Request::over_time_to -->
</message>

<message name="Dispatch-History-Alert-RequestResponse">
 <part name="response" type="ns:HistoryAlert"/><!-- ns__Dispatch_History_Alert_Request::response -->
</message>

<message name="Dispatch-Alert-Request">
 <part name="alert-id" type="uint32"/><!-- ns__Dispatch_Alert_Request::alert_id -->
</message>

<message name="Dispatch-History-Alert-Message-Request">
 <part name="history-alert-id" type="uint32"/><!-- ns__Dispatch_History_Alert_Message_Request::history_alert_id -->
 <part name="from-message-id" type="uint32"/><!-- ns__Dispatch_History_Alert_Message_Request::from_message_id -->
 <part name="from-time" type="xsd:string"/><!-- ns__Dispatch_History_Alert_Message_Request::from_time -->
 <part name="max-message-count" type="uint32"/><!-- ns__Dispatch_History_Alert_Message_Request::max_message_count -->
</message>

<message name="Dispatch-History-Alert-Message">
 <part name="history-alert-id" type="uint32"/><!-- ns__Dispatch_History_Alert_Message_Request::history_alert_id -->
 <part name="messages" type="ns:MediaMessage"/><!-- ns__Dispatch_History_Alert_Message_Request::messages -->
 <part name="leave-message-count" type="uint32"/><!-- ns__Dispatch_History_Alert_Message_Request::leave_message_count -->
</message>

<message name="Dispatch-Delete-History-Alert-Request">
 <part name="history-alert-id" type="uint32"/><!-- ns__Dispatch_Delete_History_Alert_Request::history_alert_id -->
</message>

<message name="Dispatch-Delete-History-Alert-Request-Response">
</message>

<portType name="xiaofangPortType">
 <operation name="Dispatch-Login">
  <documentation>Service definition of function ns__Dispatch_Login</documentation>
  <input message="tns:Dispatch-Login"/>
  <output message="tns:Login-Response"/>
 </operation>
 <operation name="Dispatch-Logout">
  <documentation>Service definition of function ns__Dispatch_Logout</documentation>
  <input message="tns:Dispatch-Logout"/>
  <output message="tns:LogOutResponse"/>
 </operation>
 <operation name="Dispatch-Keepalive">
  <documentation>Service definition of function ns__Dispatch_Keepalive</documentation>
  <input message="tns:Dispatch-Keepalive"/>
  <output message="tns:Dispatch-Keepalive-Request-Response"/>
 </operation>
 <operation name="Dispatch-Entity-Request">
  <documentation>Service definition of function ns__Dispatch_Entity_Request</documentation>
  <input message="tns:Dispatch-Entity-Request"/>
  <output message="tns:EntityData"/>
 </operation>
 <operation name="Dispatch-Entity-Nofitication">
  <documentation>Service definition of function ns__Dispatch_Entity_Nofitication</documentation>
  <input message="tns:Dispatch-Entity-Nofitication"/>
  <output message="tns:Entity-Nofitication-Response"/>
 </operation>
 <operation name="Dispatch-Entity-Status-Notification">
  <documentation>Service definition of function ns__Dispatch_Entity_Status_Notification</documentation>
  <input message="tns:Dispatch-Entity-Status-Notification"/>
  <output message="tns:Entity-Status-Notification"/>
 </operation>
 <operation name="Dispatch-Append-Group">
  <documentation>Service definition of function ns__Dispatch_Append_Group</documentation>
  <input message="tns:Dispatch-Append-Group"/>
  <output message="tns:Group"/>
 </operation>
 <operation name="Dispatch-Modify-Group">
  <documentation>Service definition of function ns__Dispatch_Modify_Group</documentation>
  <input message="tns:Dispatch-Modify-Group"/>
  <output message="tns:Group"/>
 </operation>
 <operation name="Dispatch-Modify-Participants">
  <documentation>Service definition of function ns__Dispatch_Modify_Participants</documentation>
  <input message="tns:Dispatch-Modify-Participants"/>
  <output message="tns:Group"/>
 </operation>
 <operation name="Dispatch-Delete-Group">
  <documentation>Service definition of function ns__Dispatch_Delete_Group</documentation>
  <input message="tns:Dispatch-Delete-Group"/>
  <output message="tns:Delete-Group-Response"/>
 </operation>
 <operation name="Dispatch-Dispatch-Participants-Notification">
  <documentation>Service definition of function ns__Dispatch_Dispatch_Participants_Notification</documentation>
  <input message="tns:Dispatch-Dispatch-Participants-Notification"/>
  <output message="tns:Modify-Participant"/>
 </operation>
 <operation name="Dispatch-Join-Group-Request-Nofitication">
  <documentation>Service definition of function ns__Dispatch_Join_Group_Request_Nofitication</documentation>
  <input message="tns:Dispatch-Join-Group-Request-Nofitication"/>
  <output message="tns:Join-Group-Request-Nofitication"/>
 </operation>
 <operation name="Dispatch-Participant-Status-Notification">
  <documentation>Service definition of function ns__Dispatch_Participant_Status_Notification</documentation>
  <input message="tns:Dispatch-Participant-Status-Notification"/>
  <output message="tns:Participant-Status-Notification"/>
 </operation>
 <operation name="Dispatch-Media-Message-Request">
  <documentation>Service definition of function ns__Dispatch_Media_Message_Request</documentation>
  <input message="tns:Dispatch-Media-Message-Request"/>
  <output message="tns:Media-Message"/>
 </operation>
 <operation name="Dispatch-Media-Message-Notification">
  <documentation>Service definition of function ns__Dispatch_Media_Message_Notification</documentation>
  <input message="tns:Dispatch-Media-Message-Notification"/>
  <output message="tns:Media-Message-Notification"/>
 </operation>
 <operation name="Dispatch-Participant-Connect-Request-Notification">
  <documentation>Service definition of function ns__Dispatch_Participant_Connect_Request_Notification</documentation>
  <input message="tns:Dispatch-Participant-Connect-Request-Notification"/>
  <output message="tns:Participant-Connect-Request-Notification"/>
 </operation>
 <operation name="Dispatch-Participant-Speak-Request-Notification">
  <documentation>Service definition of function ns__Dispatch_Participant_Speak_Request_Notification</documentation>
  <input message="tns:Dispatch-Participant-Speak-Request-Notification"/>
  <output message="tns:Participant-Connect-Request-Notification"/>
 </operation>
 <operation name="Dispatch-Invite-Participant-Request">
  <documentation>Service definition of function ns__Dispatch_Invite_Participant_Request</documentation>
  <input message="tns:Dispatch-Invite-Participant-Request"/>
  <output message="tns:Dispatch-Invite-Participant-Request-Response"/>
 </operation>
 <operation name="Dispatch-Drop-Participant-Request">
  <documentation>Service definition of function ns__Dispatch_Drop_Participant_Request</documentation>
  <input message="tns:Dispatch-Drop-Participant-Request"/>
  <output message="tns:Dispatch-Drop-Participant-Request-Response"/>
 </operation>
 <operation name="Dispatch-Release-Participant-Token-Request">
  <documentation>Service definition of function ns__Dispatch_Release_Participant_Token_Request</documentation>
  <input message="tns:Dispatch-Release-Participant-Token-Request"/>
  <output message="tns:Dispatch-Release-Participant-Token-Request-Response"/>
 </operation>
 <operation name="Dispatch-Appoint-Participant-Speak-Request">
  <documentation>Service definition of function ns__Dispatch_Appoint_Participant_Speak_Request</documentation>
  <input message="tns:Dispatch-Appoint-Participant-Speak-Request"/>
  <output message="tns:Dispatch-Appoint-Participant-Speak-Request-Response"/>
 </operation>
 <operation name="Dispatch-Jion-Group-Request">
  <documentation>Service definition of function ns__Dispatch_Jion_Group_Request</documentation>
  <input message="tns:Dispatch-Jion-Group-Request"/>
  <output message="tns:Dispatch-Jion-Group-Request-Response"/>
 </operation>
 <operation name="Dispatch-Leave-Group-Request">
  <documentation>Service definition of function ns__Dispatch_Leave_Group_Request</documentation>
  <input message="tns:Dispatch-Leave-Group-Request"/>
  <output message="tns:Dispatch-Leave-Group-Request-Response"/>
 </operation>
 <operation name="Dispatch-Session-Status-Notification">
  <documentation>Service definition of function ns__Dispatch_Session_Status_Notification</documentation>
  <input message="tns:Dispatch-Session-Status-Notification"/>
  <output message="tns:Session-Status-Notification"/>
 </operation>
 <operation name="Dispatch-Send-Message-Request">
  <documentation>Service definition of function ns__Dispatch_Send_Message_Request</documentation>
  <input message="tns:Dispatch-Send-Message-Request"/>
  <output message="tns:Dispatch-Send-Message-Request-Response"/>
 </operation>
 <operation name="Dispatch-Kick-Participant-Request">
  <documentation>Service definition of function ns__Dispatch_Kick_Participant_Request</documentation>
  <input message="tns:Dispatch-Kick-Participant-Request"/>
  <output message="tns:Dispatch-Kick-Participant-Request-Response"/>
 </operation>
 <operation name="Dispatch-Start-Record-Request">
  <documentation>Service definition of function ns__Dispatch_Start_Record_Request</documentation>
  <input message="tns:Dispatch-Start-Record-Request"/>
  <output message="tns:Dispatch-Start-Record-Request-Response"/>
 </operation>
 <operation name="Dispatch-Stop-Record-Request">
  <documentation>Service definition of function ns__Dispatch_Stop_Record_Request</documentation>
  <input message="tns:Dispatch-Stop-Record-Request"/>
  <output message="tns:Dispatch-Stop-Record-Request-Response"/>
 </operation>
 <operation name="Dispatch-Record-Status-Notification">
  <documentation>Service definition of function ns__Dispatch_Record_Status_Notification</documentation>
  <input message="tns:Dispatch-Record-Status-Notification"/>
  <output message="tns:Dispatch-Record-Status"/>
 </operation>
 <operation name="Dispatch-Subscribe-Account-Location-Request">
  <documentation>Service definition of function ns__Dispatch_Subscribe_Account_Location_Request</documentation>
  <input message="tns:Dispatch-Subscribe-Account-Location-Request"/>
  <output message="tns:Dispatch-Subscribe-Account-Location-Request-Response"/>
 </operation>
 <operation name="Dispatch-Account-Location-Notification">
  <documentation>Service definition of function ns__Dispatch_Account_Location_Notification</documentation>
  <input message="tns:Dispatch-Account-Location-Notification"/>
  <output message="tns:Dispatch-Account-Location-Notification-Response"/>
 </operation>
 <operation name="Dispatch-Append-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_Append_Alert_Request</documentation>
  <input message="tns:Dispatch-Append-Alert-Request"/>
  <output message="tns:Alert"/>
 </operation>
 <operation name="Dispatch-Modify-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_Modify_Alert_Request</documentation>
  <input message="tns:Dispatch-Modify-Alert-Request"/>
  <output message="tns:Dispatch-Modify-Alert-Request-Response"/>
 </operation>
 <operation name="Dispatch-Stop-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_Stop_Alert_Request</documentation>
  <input message="tns:Dispatch-Stop-Alert-Request"/>
  <output message="tns:Dispatch-Stop-Alert-Request-Response"/>
 </operation>
 <operation name="Dispatch-Alert-Overed-Notification">
  <documentation>Service definition of function ns__Dispatch_Alert_Overed_Notification</documentation>
  <input message="tns:Dispatch-Alert-Overed-Notification"/>
  <output message="tns:Dispatch-Alert-Overed-Notification-Response"/>
 </operation>
 <operation name="Dispatch-History-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_History_Alert_Request</documentation>
  <input message="tns:Dispatch-History-Alert-RequestRequest"/>
  <output message="tns:Dispatch-History-Alert-RequestResponse"/>
 </operation>
 <operation name="Dispatch-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_Alert_Request</documentation>
  <input message="tns:Dispatch-Alert-Request"/>
  <output message="tns:Alert"/>
 </operation>
 <operation name="Dispatch-History-Alert-Message-Request">
  <documentation>Service definition of function ns__Dispatch_History_Alert_Message_Request</documentation>
  <input message="tns:Dispatch-History-Alert-Message-Request"/>
  <output message="tns:Dispatch-History-Alert-Message"/>
 </operation>
 <operation name="Dispatch-Delete-History-Alert-Request">
  <documentation>Service definition of function ns__Dispatch_Delete_History_Alert_Request</documentation>
  <input message="tns:Dispatch-Delete-History-Alert-Request"/>
  <output message="tns:Dispatch-Delete-History-Alert-Request-Response"/>
 </operation>
</portType>

<binding name="xiaofang" type="tns:xiaofangPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="Dispatch-Login">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Logout">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Keepalive">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Entity-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Entity-Nofitication">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Entity-Status-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Append-Group">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Modify-Group">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Modify-Participants">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Delete-Group">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Dispatch-Participants-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Join-Group-Request-Nofitication">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Participant-Status-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Media-Message-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Media-Message-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Participant-Connect-Request-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Participant-Speak-Request-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Invite-Participant-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Drop-Participant-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Release-Participant-Token-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Appoint-Participant-Speak-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Jion-Group-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Leave-Group-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Session-Status-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Send-Message-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Kick-Participant-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Start-Record-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Stop-Record-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Record-Status-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Subscribe-Account-Location-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Account-Location-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Append-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Modify-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Stop-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Alert-Overed-Notification">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-History-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-History-Alert-Message-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="Dispatch-Delete-History-Alert-Request">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:xiaofang" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="xiaofang">
 <documentation>gSOAP 2.8.17r generated service definition</documentation>
 <port name="xiaofang" binding="tns:xiaofang">
  <SOAP:address location="http://192.168.146.128:18881"/>
 </port>
</service>

</definitions>
